# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
ios/Pods/
ios/build/
android/build/
android/app/build/

# Build artifacts
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Secrets / env
.env
.env.*
!.env.example

# macOS
.DS_Store

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# TypeScript
*.tsbuildinfo
